NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGO_DB_NAME=italian_store

JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d

QI_BASE_URL=https://uat-sandbox-3ds-api.qi.iq/api/v1
QI_TERMINAL_ID=your_terminal_id
QI_USERNAME=your_api_username
QI_PASSWORD=your_api_password
QI_CURRENCY=IQD
QI_LOCALE=en_US
QI_NOTIFICATION_URL=https://yourdomain.com/api/v1/payments/webhook

QI_WEBHOOK_VERIFY=true
QI_WEBHOOK_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nYOUR_KEY_HERE\n-----END PUBLIC KEY-----
